:root 
{
    --color-1: hsl(177, 68%, 64%);
    --color-2: hsl(12,94%,65%);
    --color-3: hsl(33,100%,70%);
    --color-4: hsl(20, 33%, 98%);
    --color-5: hsl(244, 23%, 12%);

    --font-1: "IBM Plex Sans", sans-serif;
}


body {
    margin: 0;
    font-family: var(--font-1);
}

* {
    box-sizing: border-box;
}

* :first-child {
    margin-top: 0;
}

* :last-child {
    margin-bottom: 0;
}

.heading-1 {
    font-size: 2.5rem;
    line-height: 1.2em;
    font-weight: bold;
}

.heading-2 {
    font-size: 2rem;
    line-height: 1.25em;
    font-weight: bold;
}

.body-1
 {
    font-size: 1.125rem;
    line-height: 1.55em;
 }

 .body-2 
 {
    font-size: 1rem;
    line-height: 1.625em;
 }


 .btn {
    padding: .83em 3.16em;
    border-radius: 8px;
    border:none;
    transition: background-color 300ms, color 300ms;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .333em;
 }


 .btn-1 
 {
    background-color: var(--color-5);
    color: var(--color-4);
 }

.btn-1:hover 
{
    background-color: var(--color-1);
}

 .btn-2 
 {
    background-color: var(--color-4);
    color: var(--color-5);
 }

 .btn-2:hover 
 {
    background-color: var(--color-3);
 }


.header {
    padding: 2.5em 6.4% 10.375em;
    background: url(./assets/bg-main-mobile.png);
    background-position: bottom left;
}

.header_logo{ 
    margin-bottom: 4em;
}

.main {
    background-color: var(--color-5);
    background-image: url(./assets/bg-pattern-2.svg);
    background-repeat: no-repeat;
    background-position: top center;
    border-radius: 8px;
}

.main_img {
    display: block;
    width: 55.4%;
    margin-left: auto;
    margin-right: auto;
    max-width: 312px;
    transform: translateY(-30%);
}

.main_content 
{
    color: var(--color-4);
    background-color: var(--color-2);
    border-radius: 8px;
    padding: 3em 9.6% 3.25em;
}


.main_price
 {
    display: flex;
    align-items: center;
    gap: 1em;
 }
.main_price span {
    font-size: 4.06rem;
    font-weight: bold;
}

.main_btns {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: .75em;
    max-width: 333px;
}

.footer {
    padding: 4em 6.4% 5em;
}

.social {
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 0;
    gap: 1.25em;
}

.social_icon {
    cursor: pointer;
}

.social_icon path
{
    transition: fill 300ms;
}

.social_icon:hover path {
    fill: var(--color-2)
}

@media (min-width: 768px)
{
    body {
        padding: 0 5%;
    }
    .heading-1
    {
        font-size: 4rem;
        line-height: 1em;
    }

    .heading-2 
    {
        font-size: 2rem;
        line-height: 1.25em;
    }

    .body-2 
    {
        font-size: 1.125rem;
        line-height: 1.55em;
    }
    .header {
        padding-left: 0;
        padding-right: 0;
        background: url(./assets/bg-main-tablet.png), url(./assets/bg-pattern-1.svg);
        background-position: top 30% right, top right;
        background-repeat: no-repeat, no-repeat;
        background-size: auto, auto;
    }

    .hero {
        max-width: 520px;
    }

    .main {
        display: flex;
        justify-content: space-between;
    }

    .main_img {
        width: 35%;
        transform: translateY(-23%);
        position: relative;
        margin-left: 0;
        margin-right: 0;
        left: 7%;
    }

    .main_content {
        position: relative;
        max-width: 400px;
        right: 7%;
        top: 9em;
    }


    .footer {
        padding: 11.6em 0% 5.31em;
        display: grid;
        grid-template-columns: minmax(auto, 366px) auto;
        grid-template-rows: auto auto;
    }

    .footer_logo {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .footer_body {
        grid-column: 1 / 2;
        grid-row: 2 / -1;
    }

    .social {
        justify-self: end;
        grid-column: 2 / -1;
        grid-row:  1 / -1;
    }
    
